* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    max-width: 85%;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 35px;
    justify-content: space-between;
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
}

button:hover {
    transform: scale(1.03, 1.03);
    transition: all .3s;
    border-radius: 3%;
}

section {
    display: flex;
}

/* -----NAV------ */

nav {
    z-index: 99;
    transition: all 0.8s;
    position: fixed;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navcontent {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    max-width: 90%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav li {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #262626;
    transition: all 0.2s;
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 700;
    margin-right: 35px;
}

nav a:hover {
    border-top: 3px solid #ff6033;
    margin-bottom: 3px;
    border-radius: 1px;
    transition: 0.1s;
}

body.fixed-nav nav {
    position: fixed;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.99);
    -webkit-box-shadow: 0px 10px 53px -16px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px 10px 53px -16px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 10px 53px -16px rgba(0, 0, 0, 0.68);
    transition-duration: 250ms;
}

#nav-iconHamburger {
    visibility: hidden;
    width: 45px;
    height: 90px;
}

.ulNavLogoHamburger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 850px) {
    #nav-iconHamburger {
        visibility: visible;
    }
    .navcontent {
        display: flex;
        flex-direction: column;
    }
    nav ul {
        display: none;
    }
    .isVisable {
        display: block;
    }
    .logoTop {
        max-width: 25%;
        max-height: 30px;
    }
    nav a {
        padding: 8px;
        margin-right: 0px;
    }
}

/* ----HOME---- */

section.home {
    height: 100vh;
    background: url(img/homewhite.png) no-repeat center;
    background-size: cover;
}

.homecontent {
    max-width: 368px;
}

.hometext {
    color: #262626;
    font-family: Raleway, sans-serif;
}

h1.hometext {
    font-size: 60px;
    margin-bottom: 34px;
    font-weight: 900;
}

p.hometext {
    font-size: 17px;
    margin-bottom: 30px;
}

.button.getfree {
    width: 200px;
    height: 55px;
    background-color: #ff6033;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 1300;
}

/* ---ABOUT--- */

.container.aboutContainer {
    display: flex;
    justify-content: center;
}

section.about {
    background-color: #00c4c4;
    min-height: 700px;
}

.cup {
    max-width: 85%
}

.cup.transist {
    transition: 1s;
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.aboutContents {
    max-width: 499px;
}

h1.abouttext {
    color: #ffffff;
    font-family: Raleway;
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 20px;
}

p.abouttext {
    color: #ffffff;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    margin-bottom: 10px;
}

/* ---SERVIESES---- */

section.services {
    background-color: #70bfff;
    min-height: 790px;
}

.container.servicesContainer {
    display: flex;
    flex-wrap: wrap-reverse;
}

.servicesContents {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
}

.ourservices {
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.ourservices:hover {
    -moz-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -o-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.02);
    transition: 0.1s;
    text-shadow: 0.1px 0.1px 1px #70bfff;
}

p.divServiciesText {
    width: 300px;
    height: 100px;
    color: #262626;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: groove;
}

.iconservices {
    max-width: 51px;
    max-height: 51px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

#tomatoes {
    max-width: 75%;
}

/* ------GALLERY----- */

section.gallery {
    background-color: #ffe92f;
    min-height: 1536px;
}

.container.gallery {
    display: flex;
    justify-content: center;
}

.photos {
    min-height: 980px;
    width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rowphotos.up, .rowphotos.down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.twosmall {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img.galleryImg {
    box-shadow: 0.5px 0.5px 10px 0.5px #454545;
}

img.galleryImg.large {
    width: 770px;
    height: 550px;
}

img.galleryImg.small {
    width: 370px;
    height: 260px;
}

img.galleryImg.medium {
    width: 570px;
    height: 400px;
}

.textgallery {
    max-width: 577px;
    min-height: 185px;
}

.gallerytext {
    text-align: center;
}

h1.gallerytext {
    color: #262626;
    font-family: Raleway;
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 10px;
}

p.gallerytext {
    color: #262626;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
}

.button.viewmore {
    width: 200px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
}

.button.viewmore.blue {
    background-color: #5585a2;
}

.rowphotos img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.2s ease;
    transition-timing-function: ease-out;
}

/* ------SUBISCRIBE---- */

section.subscribe {
    min-height: 500px;
    background: url(img/white2.png) no-repeat center;
}

.container.subscribe {
    display: flex;
    justify-content: space-around
}

.subscibeform {
    width: 570px;
    height: 192px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subscribeButtonContainer {
    width: 570px;
    height: 192px;
    display: flex;
    align-items: flex-end;
}

.subscribeText {
    margin-bottom: 20px;
    color: #262626;
    font-family: Raleway;
}

h1.subscribeText {
    font-size: 35px;
    font-weight: 700;
}

p.subscribeText {
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
}

input.inputsubscribe {
    width: 570px;
    height: 55px;
    border: 1px solid #262626;
}

input.inputsubscribe:focus {
    -webkit-box-shadow: 0px 0px 15px 2px rgba(128, 30, 128, 0.68);
    -moz-box-shadow: 0px 0px 15px 2px rgba(128, 30, 128, 0.68);
    box-shadow: 0px 0px 15px 2px rgba(128, 30, 128, 0.68);
}

button.subscribeButton {
    width: 170px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #96b92c;
    color: #ffffff;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
}

/* -----BLOG-------- */

section.blog {
    background-color: #b07cf7;
    min-height: 864px;
    display: flex;
    justify-content: space-around;
}

.container.blogContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.textblog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 563px;
    min-height: 182px;
}

.photosblog {
    display: flex;
    width: 1170px;
    display: row;
    justify-content: space-between;
}

img.blogImage {
    box-shadow: 0.5px 0.5px 10px 0.5px #454545;
    margin-bottom: 10px;
    display: block;
}

.blog-photo {
    position: relative;
    cursor: pointer;
}

.blogImage:hover {
    -webkit-box-shadow: 4px 4px 121px -8px rgba(0, 0, 0, 0.89);
    -moz-box-shadow: 4px 4px 121px -8px rgba(0, 0, 0, 0.89);
    box-shadow: 4px 4px 121px -8px rgba(0, 0, 0, 0.89);
    transition: 0.4s;
}

.blogdata {
    position: absolute;
    top: 1px;
    left: 6px;
    margin: 1rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 60px;
    height: 60px;
}

.blogtext {
    color: #ffffff;
    font-family: Raleway;
    text-align: center;
    opacity: 1;
}

p.blog-data-text {
    color: #ffffff;
    font-family: Raleway;
    text-align: center;
}

p.blog-data-text.day {
    font-size: 32px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 5px;
}

p.blog-data-text.month {
    font-size: 21px;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
}

.blogTitle {
    position: absolute;
    bottom: 30px;
    left: 15px;
}

.blog-title-text {
    color: #ffffff;
    font-family: Raleway;
    max-width: 300px;
}

.blog-title-text.title {
    font-size: 20px;
    font-weight: 700;
}

.blog-title-text.author {
    font-size: 13px;
    font-weight: 320;
    line-height: 25px;
}

h1.blogtext {
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 15px;
}

p.blogtext {
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
}

.button.viewmore.red {
    background-color: #f72b3b;
}

/* ----CONTACT---- */

section.contact {
    background: url(img/contactsky.png) no-repeat center;
    background-size: cover;
    min-height: 866px;
}

.container.contactContainer {
    flex-direction: column;
    justify-content: space-around;
}

.content-down {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

form.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    max-width: 95%;
}

p.fornameText {
    color: #ffffff;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    margin-left: 15px;
}

.input-form-contact {
    width: 100%;
    background-color: rgba(0, 196, 196, 0.5);
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

form textarea::placeholder, .form input::placeholder {
    color: #ffffff;
    opacity: 0.95;
    font-size: 15px;
    font-weight: 200;
}

input.input-form-contact {
    height: 50px;
}

input.input-form-contact, form textarea {
    padding-left: 15px;
    color: #ffffff;
    opacity: 1;
    font-size: 17px;
    font-weight: 700;
}

form textarea {
    height: 250px;
    resize: none;
    padding-top: 15px;
}

.content-down {
    width: 100%;
}

.adressContainer {
    width: 50%;
    max-width: 55%;
}

.address {
    width: 317px;
    min-height: 160px;
    max-width: 55%;
}

p.contact-adresess {
    color: #262626;
    font-family: Raleway;
}

p.contact-adresess.headline {
    font-size: 20px;
    font-weight: 700;
}

p.contact-adresess.information {
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 15px;
}

.textcontact {
    margin-top: 15px;
    max-width: 368px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacttext {
    color: #262626;
    font-family: Raleway;
}

h1.contacttext {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 15px;
}

p.contacttext {
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
}

textarea:focus, input.input-form-contact:focus {
    background-color: #00c4c4;
    align-items: center;
    border-left: 5px solid #355b82;
}

.formname {
    height: 50px;
    background-color: #00c4c4;
    display: flex;
    align-items: center;
    border-left: 5px solid #355b82;
}

/* -----FOOTER---- */

footer {
    display: flex;
    min-height: 70px;
    background-color: #262626;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

img.footerLogo {
    max-width: 64px;
    max-height: 27px;
}

.footer-text {
    color: #b9b9b9;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

span.love {
    color: #ff2b58;
}

@media screen and (max-width:1200px) {
    section.home {
        background-size: auto;
    }
    .container.servicesContainer {
        display: flex;
        justify-content: center;
    }
    h1{
        text-align: center;
    }
    h1.abouttext{
        font-size:17vw;
    }
    h1.gallerytext,h1.blogtext,h1.contacttext {
        font-size: 20vw;
    }
    .ourservices{
        max-width: 100%;
    }
    img.galleryImg.large, img.galleryImg.small, img.galleryImg.medium {
        width: 80%;
        height: 80%;
    }
    .rowphotos.down, .rowphotos.up, .twosmall {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .galleryImg {
        margin-bottom: 15px;
    }
    .photos {
        display: flex;
        justify-content: center;
    }
    .subscibeform {
        max-width: 95%;
    }
    input.inputsubscribe {
        max-width: 95%;
    }
    .subscribeButtonContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .subscribeText {
        text-align: center;
    }
    .photosblog {
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        max-width: 80%;
    }
    img.blogImage {
        width: 100%;
        height: 100%;
    }

}

/* -----hamburegerNavIco----- */

#nav-iconHamburger {
    height: 30px;
    position: relative;
    margin-right: 10%;
    padding: 5px;
    margin-bottom: 10px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    cursor: pointer;
}

#nav-iconHamburger span {
    display: block;
    position: absolute;
    height: 8px;
    width: 40px;
    background: #ff6033;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .20s ease-in-out;
    -moz-transition: .20s ease-in-out;
    -o-transition: .20s ease-in-out;
    transition: .20s ease-in-out;
}

#nav-iconHamburger span:nth-child(1) {
    top: 0px;
}

#nav-iconHamburger span:nth-child(2), #nav-iconHamburger span:nth-child(3) {
    top: 16px;
}

#nav-iconHamburger span:nth-child(4) {
    top: 32px;
}

#nav-iconHamburger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-iconHamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-iconHamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-iconHamburger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}
