* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    max-width: 85%;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 35px;
    justify-content: space-between;
}

button {
    padding: 0;
    border: none;
}

section {
    display: flex;
}


/* ----HOME---- */

section.home {
    background: url(img/homewhite.png) no-repeat center;
    background-size: cover;
    height: 100vh;

}

.homecontent {
    max-width: 368px;
}

.hometext {
    color: #262626;
    font-family: Raleway, sans-serif;
}

h1.hometext {
    font-size: 60px;
    margin-bottom: 34px;
    font-weight: 900;
}

p.hometext {
    font-size: 17px;
    margin-bottom: 30px;
}

/* ---ABOUT--- */

section.about {
    background-color: #00c4c4;
    min-height: 700px;
}

.cup {
    max-width: 566px;
    max-height: 559px;
    max-width: 100%
}

.aboutContents {
    max-width: 499px;
}

.button.getfree {
    width: 200px;
    height: 55px;
    background-color: #ff6033;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 1300;
    line-height: 27px;
}

h1.abouttext {
    color: #ffffff;
    font-family: Raleway;
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 20px;
}

p.abouttext {
    color: #ffffff;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    margin-bottom: 10px;
}

/* ---SERVIESES---- */

section.services {
    background-color: #70bfff;
    min-height: 790px;
}

.container.servicesContainer {
    display: flex;
    flex-wrap: wrap-reverse;
}

.servicesContents {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
}

.ourservices {
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

p.divServiciesText {
    width: 300px;
    height: 100px;
    color: #262626;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: groove;
}

.iconservices {
    max-width: 51px;
    max-height: 51px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

#tomatoes {
    display: block;
    max-width: 462px;
    max-height: 527px;
    max-width: 80%;
}

/* ------GALLERY----- */

section.gallery {
    background-color: #ffe92f;
    min-height: 1536px;
}

.container.gallery {
    min-height: 1322px;
    display: flex;
    justify-content: center;
}

.photos {
    min-height: 980px;
    width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rowphotos.up, .rowphotos.down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.twosmall {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img.galleryImg {
    box-shadow: 0.5px 0.5px 10px 0.5px #454545;
}

img.galleryImg.large {
    width: 770px;
    height: 550px;
}

img.galleryImg.small {
    width: 370px;
    height: 260px;
}

img.galleryImg.medium {
    width: 570px;
    height: 400px;
}

.textgallery {
    max-width: 577px;
    min-height: 185px;
}

.gallerytext {
    text-align: center;
}

h1.gallerytext {
    color: #262626;
    font-family: Raleway;
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 10px;
}

p.gallerytext {
    color: #262626;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
}

.button.viewmore {
    width: 200px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
}

.button.viewmore.blue {
    background-color: #5585a2;
}

/* ------SUBISCRIBE---- */

section.subscribe {
    min-height: 500px;
    background: url(img/white2.png) no-repeat center;
}

.container.subscribe {
    display: flex;
    justify-content: space-around
}

.subscibeform {
    width: 570px;
    height: 192px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subscribeButtonContainer {
    width: 570px;
    height: 192px;
    display: flex;
    align-items: flex-end;
}

.subscribeText {
    margin-bottom: 20px;
    color: #262626;
    font-family: Raleway;
}

h1.subscribeText {
    font-size: 35px;
    font-weight: 700;
    line-height: 27px;
}

p.subscribeText {
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
}

input.inputsubscribe {
    width: 570px;
    height: 55px;
    border: 1px solid #262626;
    /* max-width: 90%; */
}

button.subscribeButton {
    width: 170px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #96b92c;
    color: #ffffff;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
}

/* -----BLOG-------- */

section.blog {
    background-color: #b07cf7;
    min-height: 864px;
    display: flex;
    justify-content: space-around;
}

.container.blogContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.textblog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 563px;
    min-height: 182px;
}

.photosblog {
    display: flex;
    width: 1170px;
    display: row;
    justify-content: space-between;
}

img.blogImage {
    box-shadow: 0.5px 0.5px 10px 0.5px #454545;
    margin-bottom: 10px;
    display: block;
}

.blog-photo {
    position: relative;
}

.blogdata {
    position: absolute;
    top: 1px;
    left: 6px;
    margin: 1rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 60px;
    height: 60px;
}

.blogtext {
    color: #ffffff;
    font-family: Raleway;
    text-align: center;
    opacity: 1;
}

p.blog-data-text {
    color: #ffffff;
    font-family: Raleway;
    text-align: center;
}

p.blog-data-text.day {
    font-size: 32px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 5px;
}

p.blog-data-text.month {
    font-size: 21px;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
}

.blogTitle {
    position: absolute;
    bottom: 30px;
    left: 15px;
}

.blog-title-text {
    color: #ffffff;
    font-family: Raleway;
    max-width: 300px;
}

.blog-title-text.title {
    font-size: 20px;
    font-weight: 700;
}

.blog-title-text.author {
    font-size: 13px;
    font-weight: 320;
    line-height: 25px;
}

h1.blogtext {
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 15px;
}

p.blogtext {
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
}

.button.viewmore.red {
    background-color: #f72b3b;
}

/* ----CONTACT---- */

section.contact {
    background: url(img/contactsky.png) no-repeat center;
    background-size: cover;
    min-height: 866px;
}

.container.contactContainer {
    flex-direction: column;
    justify-content: space-around;
}

.content-down {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.formname {
    height: 50px;
    background-color: #00c4c4;
    display: flex;
    align-items: center;
     border-left: 5px solid #355b82;
}

p.fornameText {
    color: #ffffff;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    margin-left: 15px;
}

.input-form-contact {
    width: 100%;
    background-color: rgba(0, 196, 196, 0.5);
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 0.95;
    /* Firefox */
}

input.input-form-contact {
    height: 50px;
}

form textarea {
    height: 250px;
    resize: none;
}

.content-down {
    width: 100%;
}

.adressContainer {
    width: 50%;
    max-width: 55%;
}

.address {
    width: 317px;
    min-height: 160px;
    max-width: 55%;
}

p.contact-adresess {
    color: #262626;
    font-family: Raleway;
}

p.contact-adresess.headline {
    font-size: 20px;
    font-weight: 700;
}

p.contact-adresess.information {
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 15px;
}

.textcontact {
    max-width: 368px;
    text-align: center;
}

.contacttext {
    color: #262626;
    font-family: Raleway;
}

h1.contacttext {
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 15px;
}

p.contacttext {
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
}

footer {
    display: flex;
    min-height: 70px;
    background-color: #262626;
    align-items: center;
    justify-content: space-around;
    flex-wrap:wrap;
}
img.footerLogo{
    max-width: 64px;
    max-height: 27px;
}
.footer-text{
color: #b9b9b9;
font-family: Raleway;
font-size: 16px;
font-weight: 300;
line-height: 25px;
justify-content: space-between;
}
span.love{
    color: #ff2b58;
}

@media screen and (max-width:1200px) {
    section.home{
        background-size: auto;
    }
    .container.aboutContainer {
        display: flex;
        justify-content: center;
    }
    .container.servicesContainer {
        display: flex;
        justify-content: center;
    }
    .ourservices {
        max-width: 85%;
    }
    h1.abouttext {
        text-align: center;
        font-size: 11vw;
    }
    h1.tomatoestext {
        font-size: 11vw;
    }
    img.galleryImg.large {
        width: 90%;
        height: 90%;
    }
    img.galleryImg.small {
        width: 90%;
        height: 90%;
    }
    img.galleryImg.medium {
        width: 90%;
        height: 90%;
    }
    .rowphotos.down, .rowphotos.up, .twosmall {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .galleryImg {
        margin-bottom: 15px;
    }
    .photos {
        display: flex;
        justify-content: center;
    }
    .subscibeform {
        max-width: 95%;
    }
    input.inputsubscribe {
        max-width: 95%;
    }
    .subscribeButtonContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .subscribeText {
        text-align: center;
    }
    .photosblog {
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    img.blogImage {
        width: 100%;
        height: 100%;
    }
    .blog-photo {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:490px) {}

@media screen and (max-width:790px) {}
